.Result {
    text-align: center;
    font-size: 30px;
    line-height: 50px;
}
.Temp {
    line-height: 300px;
    font-size: 60px;
}
.ResultList{
    height: 570px;
}
.Image {
    line-height: 30px;
    vertical-align: middle;
}